<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  {% if refresh %}
    <meta http-equiv="refresh" content="5">
  {% endif %}
  <title>SP3 Upload Client</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    Html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    pre { white-space: pre-wrap }
  </style>

  <body class="w3-light-gray">

    <div class="w3-bar w3-top w3-black w3-large">
      <span class="w3-bar-item w3-right">Oxford Scalable Pipeline Platform (SP3) Upload Client</span>
    </div>


    <div class="w3-container" style="margin-top: 43px;">

      {% block content %}
      {% endblock content %}

    </div>

  </body>
</html>


