{% extends "base.jinja2" %}
{% block content %}

  {% if error_msg %}
    <div class="w3-panel w3-red">
      <h3>Error:</h3>
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}

  <h3>Client Status</h3>
  <div class="w3-container w3-pale-green">
    <p>TBD</p>
  </div>

  <h3>New Submission</h3>
  <div class="w3-container w3-pale-green">
    <p>Press to start the submission process.</p>
  <p><a href="/new_submission"><button class="w3-btn w3-blue">New Submission</button></a></p>
  </div>

  <h3>Old Submissions</h3>
  <div class="w3-container w3-pale-green">
    {% if subs %}
    <p>View details of old submissions.</p>
    <ul style="padding-left: 0px; list-style-type:none;">
    {% for sub in subs %}
      <li><i class="fa fa-file fa-fw"></i>&nbsp;<a style="text-decoration: none" href="/submission_details/{{sub}}">{{ sub }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
<br/>

{% endblock content %}
