{% extends "base.jinja2" %}
{% block content %}

  <h1>Step 1: New SP3 Submission</h1>

  {% if error_msg %}
    <div class="w3-panel w3-red">
      <h3>Error:</h3>
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}

  <p>To begin please fill in the new submission form</p>
  <div class="w3-container">
    <form method="POST">
      <label><h3>Submission name</h3></label>
      <label>Please name your submission. It should contain only letters and numbers and should be unique.</label>
      <input class="w3-input" type="text" name="submission_name"></input>
      <label><h3>Pipeline input file path</h3></label>
      <label>Please enter the absolute path to the pipeline input files (e.g. /home/username/myfiles/ or c:/users/username/myfiles/)</label>
      <input class="w3-input" type="text" name="submission_dir"></input>
  </div>
  <br/>
  <button class="w3-button w3-blue">Submit</button>
  </form>


{% endblock content %}
