{% extends "base.jinja2" %}
{% block content %}

  {% if error_msg %}
    <div class="w3-panel w3-red">
      <h3>Error:</h3>
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}

  <div class="w3-container w3-white" style="margin-bottom: 10px;">
    <h2>Instructions</h2>
    <p>Please take care when filling in the form.</p>
    <p>Please normalise the sample name so that all multi-file samples have the same sample name (e.g. remove _1 and _2 from paired sample names)</p>
    <p>To truncate all sample names by a certain number of characters, enter the number of characters above the Apply button and click Apply.</p>
    <p>To apply metadata from the first sample to all samples in the form, edit the metadata of the first sample and then click Apply at the end of the first form.</p>
  </div>

  {% set items_display_names = ['sample_name', 'sample_filename', 'sample_host', 'sample_collection_date', 'sample_country', 'submission_title', 'submission_description', 'submitter_organisation', 'submitter_email', 'instrument_platform', 'instrument_model', 'instrument_flowcell' ] %}
  {% set items_override_names = ['sample_host', 'sample_collection_date', 'sample_country', 'submission_title', 'submission_description', 'submitter_organisation', 'submitter_email', 'instrument_platform', 'instrument_model', 'instrument_flowcell'] %}
  {% set items_noedit_list = ['sample_filename'] %}

  <h2>Sample files</h2>
  <form method="POST">
    {% for row in csv %}
      <div style="padding-bottom: 10px;" class="w3-container {% if loop.index % 2 == 0 %}w3-white{% else %}w3-pale-green{% endif %}">
        <h2><span class="w3-badge w3-green">#{{ row['index'] }}</span> <span class="w3-badge w3-blue">#{{ row['subindex'] }}</span></h2>
        {% for item_name, item_value in row.items() %}
          {% if item_name in items_display_names %}
            <label>{{ item_name|replace("_", " ")|capitalize }}</label>
            {% if item_name in items_override_names and 'XX-1-1-' + item_name in overrides %}
              <input class="w3-input" type="text" name="XX-{{ row['index'] }}-{{ row['subindex'] }}-{{ item_name }}" value="{{ overrides['XX-1-1-' + item_name] }}"/>
            {% else %}
              {% if item_name == "sample_name" and truncate_sample_name|int != 0 %}
                <input class="w3-input" type="text" name="XX-{{ row['index'] }}-{{ row['subindex'] }}-{{ item_name }}" value="{{ item_value[:-(truncate_sample_name|int)] }}" {% if item_name in items_noedit_list %}disabled="disabled"{% endif %}/>
              {% else %}
                {% if item_name in items_noedit_list %}
                  <input class="w3-input" type="text" name="XX-{{ row['index'] }}-{{ row['subindex'] }}-{{ item_name }}" value="{{ item_value }}" disabled="disabled"/>
                  <input class="w3-input" type="hidden" name="XX-{{ row['index'] }}-{{ row['subindex'] }}-{{ item_name }}" value="{{ item_value }}"/>
                {% else %}
                  <input class="w3-input" type="text" name="XX-{{ row['index'] }}-{{ row['subindex'] }}-{{ item_name }}" value="{{ item_value }}"/>
                {% endif %}
                {% if item_name == "sample_filename" %}
                  <br/>
                {% endif %}
              {% endif %}
            {% endif %}
          {% else %}
            <input type="hidden" name="XX-{{ row['index'] }}-{{ row['subindex'] }}-{{ item_name }}" value="{{ item_value }}"/>
          {% endif %}
        {% endfor %}
        {% if loop.index == 1 %}
          <br/>
          <label><strong>Remove # of characters from the end of the sample name column:</strong></label>
          <input class="w3-input" type="number" name="truncate_sample_name" value="{{ truncate_sample_name }}"/>
          <label><strong>Press 'Apply' to apply the metadata above to all following samples</strong></label>
          <br/>
          <button name="apply_metadata" class="w3-input w3-red">Apply</button>
      {% endif %}
      </div>
      <br/>
    {% endfor %}
  <input class="w3-input w3-blue" type="submit" name="submit_btn" value="Next step"/>
  </form>
  <br/>
  <br/>

{% endblock content %}
