{% extends 'base.jinja2' %}
{% block content %}

  {% if running %}
    <div class="w3-panel w3-pale-yellow">
      <h2>Running...</h2>
      <p><i class="fa fa-cog fa-spin fa-fw"></i> The upload client pre-preprocessing your nanopore data.</p>
      <p>This page will refresh periodically and you will be notified when the process is finished.</p>
    </div>
  {% elif ok %}
    <div class="w3-panel w3-pale-green">
      <h2>Success!</h2>
      <p>The data is now ready to run the standard preprocessing step.</p>
      <p>Press the button to go to the next step.</p>
      <p><a href="/metadata/{{submission_name}}"><button class="w3-btn w3-blue">Next step <i class="fa fa-arrow-right fa-fw"></i></button></a></p>
    </div>
  {% elif error %}
    <div class="w3-panel w3-red">
      <h2>Error!</h2>
      <p>An unrecoverable error has occured.</p>
      <p>Please email denis.volk@ndm.ox.ac.uk for help.</p>
    </div>
  {% else %}
    <div class="w3-panel w3-pale-green">
      <h2>Ready</h2>
      <p>The upload client ready to start pre-preprocessing your nanopore data.</p>
      <p>Press the button to start.</p>
      <p><a href="/nanopore_preprocess/{{submission_name}}?start=1"><button class="w3-btn w3-green"><i class="fa fa-caret-right fa-fw"></i> Start</button></a></p>
    </div>
  {% endif %}

{% endblock content %}
