{% extends "base.jinja2" %}
{% block content %}

  {% if error_msg %}
    <div class="w3-panel w3-red">
      <h3>Error:</h3>
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}

  <p>To begin please fill in the new submission form:</p>
  <div class="w3-container w3-pale-green" style="padding-bottom: 10px;">
    <form method="POST">

      <label><h3>Submission name</h3></label>
      <label>Enter the name your submission. It should contain only letters and numbers and should be unique. This name is not transmitted into the cloud.</label>
      <input class="w3-input" type="text" name="submission_name" value="{{ proposed_submission_name }}"></input>

      <label><h3>Submission type</h3></label>
      <label>Please select what type of input you are using.</label>
      <select class="w3-input" name="submission_variant">
        <option value="illumina" selected="selected">Illumina single or paired files</option>
        <option value="multiplexed_v1">Nanopore multiplexed samples</option>
        <option value="notmultiplexed_v1">Nanopore single sample</option>
      </select>

      <label><h3>Sample input file path</h3></label>
      <label>
        Enter the absolute path to the pipeline input files (e.g. /home/username/myfastqfiles/).<br/>
        For Nanopore multiplexed inputs, please enter the path to the fastq_pass directory (inclusive)<br/>
        For Nanopore single run inputs, please enter the path to the fastq files.
      </label>
      <input class="w3-input" type="text" name="submission_dir"></input>

      <label><h3>Number of files per sample</h3></label>
      <label>
        Select the number of files per sample (i.e. 2 for pair-ended reads, 1 for single-ended reads.)<br/>
        For Nanopore samples, please select "1" - your files will be merged.</label>
      <select class="w3-input" name="submission_files_per_sample">
        <option value="1">1</option>
        <option value="2" selected="selected">2</option>
      </select>

      <label><h3>PAR URL</h3></label>
      <label>Enter your PAR URL. If you don't have one you will have to contact a SP3 administrator to obtain it.</label>
      <input class="w3-input" type="text" name="submission_par_url"></input>

  </div>
  <br/>
  <button class="w3-input w3-btn w3-blue">Next step <i class="fa fa-arrow-right fa-fw"></i></button>
  </form>


{% endblock content %}
