{% extends 'base.jinja2' %}
{% block content %}

  {% if running %}
    <div class="w3-panel w3-pale-yellow">
      <h2>Running...</h2>
      <p><i class="fa fa-cog fa-spin fa-fw"></i> The upload client is running the pipeline.</p>
      <p>This page will refresh periodically and you will be notified when the process is finished.</p>
    </div>
  {% elif ok %}
    <div class="w3-panel w3-pale-green">
      <h2>Success!</h2>
      <p>The data is now ready for uploading.</p>
      <p>Press the button to go to the upload step.</p>
      <p><a href="/upload/{{submission_name}}"><button class="w3-btn w3-blue">Next step <i class="fa fa-arrow-right fa-fw"></i></button></a></p>
    </div>
  {% elif error %}
    <div class="w3-panel w3-red">
      <h2>Error!</h2>
      <p>An unrecoverable error has occured:</p>
      <p>{{ error }}</p>
      <p>Please email denis.volk@ndm.ox.ac.uk for help</p>
    </div>
  {% else %}
    <div class="w3-panel w3-pale-green">
      <h2>Ready</h2>
      <p>The upload client ready to run the pipeline.</p>
      <p><i class="fa fa-exclamation-circle fa-fw"></i> The pipeline software assumes all memory on the system is available. Close any large applications such as web browsers before starting, otherwise the pipeline may fail with out of memory errors.</p>
      <p>Press the button to start</p>
      <p><a href="/pipeline/{{submission_name}}?start=1"><button class="w3-btn w3-green"><i class="fa fa-caret-right fa-fw"></i> Start</button></a></p>
    </div>
  {% endif %}

  {% if (running or ok or error) and nf_log %}
    <h2>Pipeline log</h2>
    <textarea id="nf_log" class="w3-input" readonly rows=20>{{ nf_log }}</textarea>
    {% endif %}

{% endblock content %}

{% block script %}
  var textarea = document.getElementById('nf_log');
  textarea.scrollTop = textarea.scrollHeight;
{% endblock script %}
